@{
    ViewData["Title"] = "Mapa";
}
<div style="width:100%;text-align:center;">
    <div style="width: 100%;
        height: 100px;
        background-color: rgba(26, 60, 106); 
        border-radius:100px;
        ">
    <br /><h1 style="color:white;">Mapa UZ</h1>
    </div>

<br />
<img src="~/Content/map.jpg" width="911px" height="609px"/>
</div>